* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}
header {
  display: none;
}

h2 {
  
}

.nav {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  flex-grow: 3;
}

  li {
    
    border: 1pt solid black;
    text-align: center;
  }

  .content{
    display: none;
}

  .aside {

  }

  .slidebox{

   
  }

  .article{

  }


.poem{

}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
  @media (min-width:600px) and (max-width: 990px)  {
    .content{
      display: flex;
      border: 1pt solid black;
    }
    .aside{
      display: flex;
      /* padding: 10%; */
      width: 150%;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;  
      border: 1pt solid black;    
    }
    .aside p{
      flex-wrap: wrap;
      border: 1pt solid black;
      text-align: center;
 
    }
    .article {
      flex-direction: column;
      justify-content: space-around;
    } 
    .article p{
      flex-wrap: wrap;
      border: 1pt solid black;
      text-align: justify;
    }
  .nav{
    flex-direction: row;
  } 
}

/*  Big devices    */
@media (min-width:991px) {

header{
  display: flex;  
  flex-direction: row;
  align-content: space-between;
  justify-content: space-around;
}
header h2{
  border: 1pt solid black;
  flex-grow: 5;
  text-align: center;
}
.content{
  display: flex;
  border: 1pt solid black;
}
.aside{
  display: flex;
  /* padding: 10%; */
  width: 150%;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;  
  border: 1pt solid black;    
}
.aside p{
  flex-wrap: wrap;
  border: 1pt solid black;
  text-align: center;
  /* flex-grow: 5; */
}
.article {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
} 
.article p{
  flex-wrap: wrap;
  border: 1pt solid black;  
}
.nav{
flex-direction: row;
}

}


  
